.footer {
    color: white;
    background-color: #0b24fb;
    &-weekend {
        margin-top: 10px;
        p {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 12px;
        }
        span {
            font-weight: bold;
        }
    }
    &-alpha {
        margin-top: 3%;
        margin-right: 3%;
        p {
            border-style: solid;
            border-color: white;
            border-width: 1px;
            border-radius: 12px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: center;
            font-weight: 300;
            font-size: 10px;
        }
    }
}

@media (min-width: 1280px) {
    .footer {
        color: white;
        background-color: #0b24fb;
        &-weekend {
            margin-left: 10%;
            p {
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
                font-size: 16px;
            }
            span {
                font-weight: bold;
            }
        }
        &-alpha {
            margin-top: 10px;
            margin-right: 10%;
            p {
                border-style: solid;
                border-color: white;
                border-width: 1px;
                border-radius: 12px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
                text-align: center;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}