.pov {
    padding-top: 40%;
    background-color: black;
    color: white;
    &-container {
        margin-left: 10%;
        width: 311px;
        height: 192px;
        h1{
            font-size: 32px;
            font-weight: 900;
        }
        p {
            font-size: 16px;
        }
    }
}

.resource {
    padding-top: 30%;
    padding-bottom: 10%;
    margin-left: 10%;
    width: 311px;
    height: 192px;
    h1{
        font-size: 32px;
        font-weight: 900;
    }
    p {
        font-size: 16px;
    }
    img {
        display: none;
    }
}

@media (min-width: 320px) {
    .pov-container {
        width: 270px;
    }
    .resource {
        width: 270px;
    }
}

//Nexus 7
@media (min-width: 600px) {
    .pov-container {
        padding-top: 7%;
        width: 500px;
        text-align: center;
        margin-left: 6%;
        margin-top: -20%;
    }
    .resource {
        width: 500px;
        text-align: center;
        margin-left: 6%;
        margin-top: -20%;
    }
}

@media (min-width: 768px) {
    .pov-container {
        width: 700px;
        text-align: center;
        margin-left: 6%;
        margin-top: -20%;
    }
    .resource {
        width: 700px;
        text-align: center;
        margin-left: 6%;
        margin-top: -20%;
    }
}

@media (min-width: 1024px) {
    .pov-container {
        margin-left: 16%;
    }
    .resource {
        margin-left: 16%;
    }
}

@media (min-width: 1280px) {
    .pov {
        margin-left: -18%;
        padding-top: 10%;
        background-color: black;
        color: white;
        &-container {
            width: auto;
            height: auto;
            margin-top: 0%;
            h1{
                font-size: 38px;
                text-align: center;
                font-weight: 900;
            }
            p {
                font-size: 18px;
                text-align: center;
                max-width: 619px;
                margin-left: 25%;
            }
        }
    }
    .resource {
        padding-top: 10%;
        width: auto;
        height: auto;
        margin-top: 0%
        ;
        h1{
            font-size: 38px;
            text-align: center;
            font-weight: 900;
        }
        p {
            font-size: 18px;
            text-align: center;
            max-width: 619px;
            margin-left: 25%;
        }
        img {
            position: absolute;
            left: 30rem;
            margin-top: 7.5rem;
        }
    }
}

@media (min-width: 1440px) {
    .pov {
        margin-left: -10%;
        padding-top: 5%;
        &-container {
            margin-top: 0%;
            h1{
                font-size: 42px;
            }
            p {
                font-size: 26px;
                margin-left: 25%;
            }
        }
    }
    .resource {
        padding-top: 10%;
        width: auto;
        height: auto;
        margin-top: 0%
        ;
        h1{
            font-size: 42px;
        }
        p {
            font-size: 26px;
            margin-left: 25%;
        }
        img {
            position: absolute;
            left: 30rem;
            margin-top: 7.5rem;
        }
    }
}